@inherits ComponentBase
@* @using Blazored.Toast

<BlazoredToast />
 *@
<table class="table ">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (inventories is not null && inventories.Count > 0)
        {
            foreach (var inv in inventories)
            {
                <InventoryListItemComponent Inventory="inv" />
            }
        }
    </tbody>
</table>
