@inherits ComponentBase

@if (this.Inventory != null)
{
    <tr>
        <td>@Inventory.InventoryName</td>
        <td>@Inventory.InventoryQuantity</td>
        <td>@Inventory.InventoryPrice.ToString("c")</td>
        <td>
            <a href="/editinventory/@Inventory.InventoryID" class="btn btn-outline-warning">Edit</a>
        </td>
        <td>
            <EditForm Enhance="true" Model="Inventory"
                      FormName="@($"form-delete-inventory-{Inventory.InventoryID}")"
                      OnValidSubmit="() => DeleteInventory(Inventory.InventoryID)">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
            </EditForm>
        </td>
    </tr>
}

