@inherits ComponentBase

@if (this.Product != null)
{
    <tr>
        <td>@Product.ProductName</td>
        <td>@Product.ProductQuantity</td>
        <td>@Product.ProductPrice.ToString("c")</td>
        <td>
            <a href="/editProduct/@Product.ProductID" class="btn btn-outline-warning">Edit</a>
        </td>
        <td>
            <button type="button" class="btn btn-outline-danger" @onclick="async () => { await HandleDelete(Product.ProductID);}">Delete</button>
        </td>
    </tr>
}
