@inherits ComponentBase

<div class="input-group">
    <input class="form-control"
           placeholder="Type something here to search"
           @bind-value="this.searchFilter" @bind-value:event="oninput">
    </input>
    <button type="button" class="btn-success input-group-text" @onclick="HandleSearch">Search</button>
</div>
@if (inventories != null && inventories.Count > 0)
{
    <div class="search-result">
        <ul>
            @foreach (var inv in inventories)
            {
                <li @key="inv.InventoryID"
                    @onclick="() => {HandleSelectInventory(inv);}">
                    @inv.InventoryName
                </li>
            }
        </ul>
    </div>
}

