@inherits ComponentBase

<div class="form-group">
    <label for="search">@Label</label>
    <input type="text"
           class="form-control"
           @bind-value="userInput"
           @bind-value:event="oninput" />
</div>
@if (searchResults != null && searchResults.Count > 0)
{
    <div class="search-result">
        <ul>
            @foreach (var item in searchResults)
            {
                <li @key="item.ID">
                    @item.Name
                </li>
            }
        </ul>
    </div>
}
