@page "/products"
@inherits ComponentBase

<h3>Product List</h3>
<br />


<SearchComponent OnSearch="HandleSearch" />
<br />

<ProductListComponent SearchProductFilter="@productNameToSearch" />
<br />

<a href="/addProduct" class="btn btn-outline-success">Add Product</a>
